@import "~antd/dist/antd.css";

.logo {
  height: 0px;
  background: rgba(231, 0, 0, 0.9);
  margin: 0px;
}

.site-layout .site-layout-background {
  background: rgb(250, 250, 250);
  padding: 0;
}
[data-theme="dark"] .site-layout .site-layout-background {
  background: #141414;
}

.ant-layout {
  background: rgba(250, 250, 250) !important;
}

.ant-layout-content {
  background: rgba(250, 250, 250) !important;
}

.ant-card {
  background: rgb(250, 250, 250) !important;
}
