.profile-dropdown-menu {
  min-width: 140px;
  font-weight: 600;
}

.profile-menu .user-full-name-info {
  font-size: 17px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.85);
}

.profile-menu .username-info {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.65);
  font-weight: 600;
}

.app-header .ant-menu-horizontal > .ant-menu-submenu > .ant-menu-submenu-title {
  padding: 0;
  font-size: 14px;
  font-weight: 600;
  border-bottom: transparent;
}

.dropdown-item {
  font-size: 16px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.75);

  text-align: center;
  line-height: 40px;
}
