.location-list {
  .ant-btn {
    color: #fff;
    background: @primary-blue;
    border-color: @border-blue;
    border-radius: 6px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.4), 0 4px 10px 0 rgba(0, 0, 0, 0.39);
    &:hover {
      background-color: @highlight-blue !important;
      border-color: @border-blue !important;
      color: white;
    }
  }

  .ant-btn-secondary {
    color: @primary-blue;
    background: white;
    border-color: @border-blue;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.4), 0 4px 10px 0 rgba(0, 0, 0, 0.39);
  }

  .ant-btn-dangerous.ant-btn-primary {
    color: #fff;
    background: #ff4d4f;
    border-color: #ff4d4f;
    text-shadow: 0 -1px 0 rgb(0 0 0 / 12%);
    -webkit-box-shadow: 0 2px 0 rgb(0 0 0 / 5%);
    border-radius: 6px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.4), 0 4px 10px 0 rgba(0, 0, 0, 0.39);
  }

  .ant-btn:focus {
    color: #fff;
    background: @primary-blue;
    border-color: white;
  }

  .ant-modal-header {
    padding: 16px 24px;
    color: #fff;
    background: #4694b4;
    border-bottom: #4694b4;
    box-shadow: 0px 4px 6px #525252;
  }

  h2.ant-typography,
  .ant-typography h2 {
    margin-bottom: 0.5em;
    color: #fff;
    font-weight: 600;
    font-size: 24px;
    line-height: 1.35;
  }

  .ant-typography strong {
    font-weight: 600;
    font-size: 18px;
  }

  .ant-popover-message {
    position: relative;
    padding: 4px 0 12px;
    color: rgba(0, 0, 0, 0.85);
    font-size: 14px;
    background-color: @primary-blue;
  }

  .ant-popover-buttons {
    margin-bottom: 4px;
    text-align: right;
    color: #fff;
    background: @primary-blue;
    border-color: @border-blue;
    border-radius: 6px;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.6);
    &:hover {
      background-color: @highlight-blue !important;
      border-color: @border-blue !important;
      color: white;
    }
  }

  thead[class*="ant-table-thead"] th {
    color: white;
    background-color: #3d3d3d !important;
  }

  .table-row-light {
    background-color: #ffffff;
  }
  .table-row-dark {
    background-color: #fbfbfb;
  }
}
