.my-group {
  .ant-card-head-title {
    padding: 0;
  }

  .ant-btn {
    color: #fff;
    background: @primary-blue;
    border-color: @border-blue;
    border-radius: 6px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.4), 0 4px 10px 0 rgba(0, 0, 0, 0.39);
    &:hover {
      background-color: @highlight-blue !important;
      border-color: @border-blue !important;
      color: white;
    }
  }

  .ant-btn-secondary {
    color: @primary-blue;
    background: white;
    border-color: @border-blue;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.4), 0 4px 10px 0 rgba(0, 0, 0, 0.39);
  }

  .ant-btn-primary:active {
    background-color: white !important;
    color: #2ecc71 !important;
    border: 2px solid #2ecc71 !important;
  }

  .ant-btn-primary:hover,
  .ant-btn-primary:focus {
    background-color: white !important;
    color: #2ecc71 !important;
    border: 2px solid #2ecc71 !important;
  }

  .ant-modal-header {
    padding: 16px 24px;
    color: #fff;
    background: #4694b4;
    border-bottom: #4694b4;
    box-shadow: 0px 4px 6px #525252;
  }

  h2.ant-typography,
  .ant-typography h2 {
    margin-bottom: 0.5em;
    color: #fff;
    font-weight: 600;
    font-size: 24px;
    line-height: 1.35;
  }

  .ant-typography strong {
    font-weight: 600;
    font-size: 18px;
  }

  .ant-collapse-ghost
    > .ant-collapse-item
    > .ant-collapse-content
    > .ant-collapse-content-box {
    padding: 4px;
  }

  .ant-list-bordered.ant-list-sm .ant-list-item {
    padding: 8px 16px;
  }

  .ant-tooltip-inner {
    min-width: 30px;
    min-height: 32px;
    padding: 6px 8px;
    color: #fff;
    text-align: center;
    text-decoration: none;
    word-wrap: break-word;
    background-color: rgba(0, 0, 0, 0.85);
    border-radius: 4px;
    -webkit-box-shadow: 0 3px 6px -4px rgb(0 0 0 / 12%),
      0 6px 16px 0 rgb(0 0 0 / 8%), 0 9px 28px 8px rgb(0 0 0 / 5%);
    box-shadow: 0 3px 6px -4px rgb(0 0 0 / 12%), 0 6px 16px 0 rgb(0 0 0 / 8%),
      0 9px 28px 8px rgb(0 0 0 / 5%);
  }

  thead[class*="ant-table-thead"] th {
    color: white;
    background-color: #3d3d3d !important;
  }

  .table-row-light {
    background-color: #ffffff;
  }
  .table-row-dark {
    background-color: #fbfbfb;
  }

  .day-item-container {
    display: grid;
    grid-template-rows: auto auto auto;
    grid-row-gap: 2px;
    margin-left: 0px;
    margin-right: 0px;
    align-content: flex-start;
  }

  .grid-week-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    margin-left: 0px;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-right: 0px;
    grid-column-gap: 5px;
  }

  .grid-day-container {
    display: grid;
    grid-template-rows: auto auto auto auto auto auto;
    grid-row-gap: 2px;
    margin-left: 0px;
    margin-right: 0px;
    align-content: flex-start;
  }

  .grid-day-container-current {
    display: grid;
    grid-template-rows: auto auto auto auto auto auto;
    grid-row-gap: 2px;
    margin-left: 0px;
    margin-right: 0px;
    align-content: flex-start;
    border-left: 1px dotted rgba(179, 179, 179, 0.8);
    border-right: 1px dotted rgba(179, 179, 179, 0.8);
  }

  .grid-day-item {
    background-color: rgb(255, 255, 255);
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
    color: #929292;

    padding: 0px;
    font-size: 14px;
    text-align: center;
    border-radius: 2px 2px 2px 2px;
  }

  .grid-day-item:first-child {
    color: #444444;
    padding: 0px;
    height: 23px;
    font-size: 14px;
    text-align: center;
  }

  .grid-day-item:nth-child(2) {
    background-color: rgb(230, 230, 230);
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.7);
    color: #6e6e6e;
    border: 1px solid rgba(179, 179, 179, 0.8);
    padding: 0px;
    height: 23px;
    font-size: 14px;
    text-align: center;
    border-radius: 2px 2px 2px 2px;
  }

  .grid-day-highlight {
    background-color: #2ecc71;
    color: #f0f0f0;
    border: 1px solid #2ecc71;
    padding: 0px;
    font-size: 14px;
    text-align: center;
    border-radius: 2px 2px 2px 2px;
  }

  .grid-day-highlight:first-child {
    color: #414141;
    padding: 0px;
    font-size: 14px;
    height: 23px;
    text-align: center;
  }

  .grid-day-highlight:nth-child(2) {
    background-color: #2ecc71;
    color: #f0f0f0;
    border: 1px solid #2ecc71;
    padding: 0px;
    font-size: 14px;
    height: 23px;
    text-align: center;
    border-radius: 2px 2px 2px 2px;
  }
}
