.session-detail {
  .ant-btn {
    color: #fff;
    background: @primary-blue;
    border-color: @border-blue;
    border-radius: 6px;
    width: 100%;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.4), 0 4px 10px 0 rgba(0, 0, 0, 0.39);
    &:hover {
      background-color: @highlight-blue !important;
      border-color: @border-blue !important;
      color: white;
      box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.4),
        0 2px 4px 0 rgba(0, 0, 0, 0.39);
    }
  }

  .ant-btn-primary[disabled],
  .ant-btn-primary[disabled]:hover,
  .ant-btn-primary[disabled]:focus,
  .ant-btn-primary[disabled]:active {
    color: rgba(0, 0, 0, 0.25);
    background: #f5f5f5;
    border-color: #d9d9d9;
    text-shadow: none;
    -webkit-box-shadow: none;
  }

  .ant-btn-secondary {
    color: @primary-blue;
    background: white;
    border-color: @border-blue;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.4), 0 4px 10px 0 rgba(0, 0, 0, 0.39);
    &:hover {
      background: @border-blue !important;
      border-color: white !important;
      box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.4),
        0 2px 4px 0 rgba(0, 0, 0, 0.39);
    }
  }

  .ant-btn:focus {
    color: #fff;
    background: @primary-blue;
    border-color: white;
  }

  .ant-card-head {
    min-height: 40px;
    height: 40px;
    margin-bottom: -1px;
    padding: 0px 10px;
    color: rgba(26, 26, 26, 0.85);
    font-weight: 500;
    font-size: 16px;
    background: transparent;
    border-bottom: 1px solid #f0f0f0;
    border-radius: 2px 2px 0 0;
  }

  .ant-card-head-title {
    display: inline-block;
    -ms-flex: 1 1;
    flex: 1 1;
    padding: 1px 0;
    overflow: hidden;
    white-space: nowrap;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
  }

  .ant-modal-body {
    padding: 16px;
    font-size: 14px;
    line-height: 1.5715;
    word-wrap: break-word;
  }

  .ant-modal-header {
    padding: 16px 24px;
    color: #fff;
    background: #4694b4;
    border-bottom: #4694b4;
    box-shadow: 0px 4px 6px #525252;
  }

  h2.ant-typography,
  .ant-typography h2 {
    margin-bottom: 0.2em;
    color: #fff;
    font-weight: 600;
    font-size: 32px;
    line-height: 1.35;
  }

  .ant-typography strong {
    font-weight: 600;
    font-size: 18px;
  }

  .ant-card-body {
    padding-top: 0px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: rgb(255, 255, 255) !important;
  }

  .ant-card-bordered {
    border: 0px solid white;
  }

  h2.ant-typography,
  .ant-typography h2 {
    margin-bottom: 0.5em;
    color: #fff;
    font-weight: 600;
    font-size: 24px;
    line-height: 1.35;
  }

  .ant-typography strong {
    font-weight: 600;
    font-size: 18px;
  }

  .ant-input:hover {
    border-color: @primary-blue;
  }

  .ant-input:focus {
    border-color: @highlight-blue;
    box-shadow: 0 0 0px 1px @border-blue;
  }

  .ant-btn-round.ant-btn-lg {
    height: 60px;
    width: 60px;
  }

  .ant-card-actions {
    border-radius: 0px 0px 10px 10px;
  }

  .ant-card-cover img {
    margin-top: 10px;
  }

  .ant-checkbox-checked .ant-checkbox-inner {
    background-color: @primary-blue;
    border-color: @primary-blue;
  }

  .ant-checkbox-wrapper:hover .ant-checkbox-inner,
  .ant-checkbox:hover .ant-checkbox-inner,
  .ant-checkbox-input:focus + .ant-checkbox-inner {
    border-color: @highlight-blue;
  }

  .title-gray {
    display: block;
    margin-top: 20px;
    margin-bottom: 5px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;

    color: #9e9e9e;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    text-transform: uppercase;
  }

  .title-black {
    display: block;
    margin-top: 25px;
    margin-bottom: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;

    color: #1f1f1f;
    font-weight: 600;
    font-size: 18px;
    line-height: 1.33;
  }

  .title {
    display: block;
    margin-block-start: 0.5em;
    margin-bottom: 0px;
    margin-inline-start: 0px;

    color: rgb(0, 0, 0);
    font-weight: 600;
    font-size: 24px;
    line-height: 1.33;
  }

  .sub-title {
    display: block;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;

    color: #1f1f1f;
    font-weight: 400;
    font-size: 13px;
    line-height: 1.5;
  }

  .details {
    display: block;
    margin-block-start: 5px;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;

    color: #3d3d3d;
    font-weight: 400;
    font-size: 16;
    line-height: 1.5;
  }

  .grid-container {
    display: grid;
    grid-template-rows: auto auto auto auto auto auto;
    margin-left: 80px;
    margin-right: 80px;
    grid-row-gap: 5px;
  }
  .grid-item {
    background-color: rgb(230, 230, 230);
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.7);
    color: #6e6e6e;
    border: 1px solid rgba(179, 179, 179, 0.8);
    padding: 0px;
    font-size: 14px;
    text-align: center;
    border-radius: 2px 2px 2px 2px;
  }
  .grid-item-highlight {
    background-color: #31c731;
    color: #f0f0f0;
    border: 1px solid #31c731;
    padding: 0px;
    font-size: 14px;
    text-align: center;
    border-radius: 2px 2px 2px 2px;
  }
}
