.student-form-button-remove,
.student-form-button-remove:hover,
.student-form-button-remove:focus {
  opacity: 0.6;
  color: #fff;
  background-color: #c91400;
  border-color: #ff9d93;
  width: 100%;
  margin-top: 0px;
}

.student-form-button-save,
.student-form-button-save:hover,
.student-form-button-save:focus {
  opacity: 0.6;
  color: #fff;
  background-color: #1890ff;
  border-color: #1890ff;
  width: 100%;
  margin-top: 0px;
}

.student-form input {
  margin-bottom: 3px;
}

.students-container {
  max-width: 600px;
  margin: 0 auto;
  margin-top: 20px;
}

.student-content {
  margin-bottom: 30px;
  padding: 20px 15px 20px 15px;
  letter-spacing: 0.01em;
}

.student-question {
  font-weight: 500;
  font-size: 21px;
  color: rgba(0, 0, 0, 0.85);
  margin-bottom: 10px;
}

@media (max-width: 768px) {
  .student-question {
    font-size: 18px;
  }
}

.student-choices {
  margin-top: 5px;
  margin-bottom: 15px;
}

.student-choice-radio-group {
  display: block;
}

.student-choice-radio {
  display: block;
  line-height: 1.7;
  font-size: 15px;
  padding-top: 6px;
  padding-bottom: 6px;
  max-width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  color: rgba(0, 0, 0, 0.75);
}

.separator {
  margin-left: 10px;
  margin-right: 10px;
  color: #8899a6;
}

.student-creator-avatar {
  float: left;
  margin-top: 3px;
  margin-left: -58px;
  position: absolute;
  width: 48px;
  height: 48px;
  line-height: 48px;
  border-radius: 24px;
}

.student-creator-avatar > * {
  line-height: 48px;
  font-size: 18px;
}

.student-creator-name {
  font-size: 16px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.85);
  margin-top: 4px;
  display: inline-block;
  margin-right: 8px;
}

.student-creator-username {
  color: #657786;
  font-size: 15px;
  display: inline-block;
}

.student-creation-date {
  display: block;
  color: #657786;
  font-size: 13px;
  margin-top: 2px;
}
